@import "../../../constants/colors.style.scss";

.transaction-detail {
  display: flex;
  width: 90%;
  justify-content: "center";
  margin-bottom: 3px;
}

.transaction-property {
  padding: 5px 0px 5px 10px;

  .title {
    color: var(--Solitaire-color);
    font-family: "Intrepid";
  }

  .value {
    color: var(--Solitaire-color);
    padding-left: 10px;
    border-left: 1px solid var(--Solitaire-color);
    font-family: "Intrepid";
  }
}
