@import "../../constants/colors.style.scss";

.home-page {
  display: flex;
  background: var(--TimberGreen-color);

  .page-container {
    .left-content {
      margin: 15px;

      .label {
        font-size: 2vw;
        color: var(--Solitaire-color);
        font-family: "Intrepid";
      }
    }
  }
}

.statistic {
  background: var(--TimberGreen-color);
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;

  .title {
    color: var(--Solitaire-color);
    font-size: 1vw;
    font-family: "Intrepid";

    &.big {
      font-size: 1.5vw;
      padding-top: 15px;
    }

    &.medium {
      font-size: 1.2vw;
      padding-top: 15px;
    }
  }

  .charts-display {
    display: flex;
  }

  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 50%;
  }

  .stats-items {
    width: 100%;
    height: 50%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .stats-row {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }

  .line-chart {
    width: 50vw;
    height: 25vw;
    min-height: 200px;
    min-width: 300px;
    padding-left: 10px;
    cursor: pointer;
  }

  .modal {
    font-size: 12px;
  }

  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }

  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }

  .modal > .actions {
    margin: auto;
  }

  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }

  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
}

.pie-chart {
  width: 26vw;
  height: 25vw;
  min-height: 250px;
  min-width: 250px;
  border-right: 1px solid var(--Solitaire-color);
  margin-top: 15px;

  &.container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &.chart {
    width: 19vw;
    height: 19vw;
    border-right: none;
    margin-top: none;
  }
}

.line-chart {
  width: 34vw;
  height: 25vw;
  min-height: 250px;
  min-width: 250px;
  margin-top: 15px;

  &.container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &.chart {
    width: 33vw;
    height: 19vw;
    border-right: none;
    margin-top: none;
  }
}

.legend-container {
  display: flex;
  margin: 5px 5px;

  .legend-label {
    color: var(--Solitaire-color);
    font-size: 0.8vw;
  }

  .legend-point {
    width: 25px;
    height: 15px;
    border-radius: 3px;
    margin-right: 10px;
  }
}

.pie-chart-popup {
  &.button {
    font-size: small;
    height: 30px;
    margin: 3px;
    color: var(--TimberGreen-color);

    &.find {
      background-color: var(--Solitaire-color);
    }

    &.find:hover {
      background-color: var(--Finlandia-color);
      color: var(--Solitaire-color);
    }

    &.apply {
      background-color: var(--Finlandia-color);
      color: var(--Solitaire-color);
    }
  }
}

.chart-table-container {
  .table-container {
    max-width: 100%;
    overflow-x: hidden;
    margin-top: 1vw;
    margin-left: 1%;

    table {
      border: 1px solid var(--Solitaire-color);
      width: 49vw;
      height: 100%;
      margin-left: 13vw;
    }

    th {
      border-bottom: 1px solid var(--Solitaire-color);
      color: var(--Solitaire-color);
    }

    td {
      text-align: center;
      color: var(--Solitaire-color);
    }
  }

  &.pie-chart {
    width: 60vw;
    margin-left: 3vw;
    border-right: none;
    align-self: center;

    &.chart {
      border: none;
    }
  }

  &.line-chart {
    border-right: none;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.chart {
      border: none;
    }
  }
}

.date-pick {
  .date-label {
    .date-info {
      width: 50%;
      height: 100%;
      border-left: 1px solid var(--Solitaire-color);
      padding-left: 10px;

      .label {
        color: var(--Solitaire-color);
      }
    }
  }
}
