@import "../../constants/colors.style.scss";

.category-page {
  background: var(--TimberGreen-color);

  .page-container {
    background: var(--TimberGreen-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

    .left-content {
      margin: 15px;

      .label {
        font-size: 2vw;
        color: var(--Solitaire-color);
        font-family: "Intrepid";
      }
    }

    .category {
      flex: 1;
      height: 100%;
      overflow-y: overlay;
      padding-top: 2vw;
      padding-left: 3%;
      padding-right: 3%;
    }

    .category-icons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin-top: 2vw;
      margin-bottom: 2vw;
    }

    .category-card {
      width: 180px;
      height: 170px;
      display: flex;
      flex-direction: column;
      margin-right: 60px;
      margin-bottom: 20px;
      background-size: 100% 100%;
      position: relative;

      .img-background {
        width: 75%;
        height: 75%;
        position: absolute;
        z-index: 0;
      }

      .black-block {
        height: 100%;
        align-self: end;
        width: 70px;
        display: flex;
        justify-content: flex-end;
        z-index: 1;

        .name {
          align-self: end;
          padding: 10px 15px;
          background: var(--Finlandia-color);
          color: var(--Solitaire-color);
          margin-right: 10px;
          margin-bottom: 20px;
          font-weight: 600;
        }
      }
    }
  }
  .fruit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: -1.5vw;
  }

  .fruit-card {
    margin: 1.5vw;

    .info {
      width: 15vw;
      height: 6.5vw;
      background-color: var(--SpanishGreen-color);
      border-radius: 10px;
      padding-top: 0.5vw;

      .info-container {
        margin-left: 6.2vw;
        padding-left: 1vw;
        border-left: 1px solid var(--Solitaire-color);
        height: 5.5vw;
        overflow: hidden;

        .label {
          color: var(--Solitaire-color);
          font-family: "Intrepid";

          &.big {
            font-size: 1.2vw;
          }

          &.small {
            font-size: 0.7vw;
          }
        }
      }
    }

    .image {
      width: 7vw;
      height: 7vw;
      border-radius: 1000px;
      overflow: hidden;
      margin-top: -5.5vw;
      margin-left: -1.5vw;
    }
  }
}
