@import "../../../constants/colors.style.scss";

.menu-bar {
  width: 20vw;
  height: 80vh;
  background: none;
  outline: none;
  color: var(--Solitaire-color);
  margin-top: 5px;
  margin-bottom: 5px;

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.6vw;
    font-family: "Intrepid";
  }

  li {
    margin: 10 px 0;
    height: 8.5vh;
    cursor: pointer;
  }

  .link {
    color: var(--Solitaire-color);
    text-decoration: none;
  }

  li:hover {
    text-decoration: underline;
    font-size: larger;
  }
}
