@import "../../../constants/colors.style.scss";

.stats-item {
  width: 25%;
  min-width: 100px;
  min-height: 100px;

  display: flex;
  justify-content: center;

  img {
    width: 80%;
    height: 80%;
  }

  .label {
    font-style: "Intrepid";
    color: var(--Solitaire-color);
  }
}
