@import "../../../constants/colors.style.scss";

.linechartpopup {
  color: var(--Solitaire-color);

  .rdp {
    color: var(--TimberGreen-color);
    .rdp-cell {
      color: var(--TimberGreen-color);
    }
    .rdp-day_selected {
      background-color: var(--Finlandia-color);
    }
  }
}
