@import "../../constants/colors.style.scss";

.farmer-page {
  font-family: "Intrepid";

  .page-container {
    background: var(--TimberGreen-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

    .left-content {
      margin: 15px;

      .label {
        font-size: 2vw;
        color: var(--Solitaire-color);
        font-family: "Intrepid";
      }
    }
  }

  .search-bar {
    width: 100%;
    margin-right: 50px;
    margin-top: 10px;

    .text-input {
      margin-top: 32px;
      align-items: center;
      width: 67vw;
      height: 3.5%;
    }

    button {
      margin-top: 30px;
      font-weight: bold;
      padding: 8px 30px;
      background: var(--Solitaire-color);
      float: right;
      color: var(--TimberGreen-color);

      &:hover {
        background: var(--Finlandia-color);
        color: var(--Solitaire-color);
      }
    }
    .text-label {
      font-size: 1.5vw;
    }
  }
}
